<!-- Header Section page-2-->

<header id="my-library">
  <section class="header-section">
    <div class="header-container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li>
            <a href="echipa-2/index.html">HOME</a>
          </li>
          <li>
            <a href="echipa-2/page-2.html" class="active">MY LIBRARY</a>
          </li>
        </ul>
        <div class="wrapper">
          <div class="logo-container-2">
            <svg class="header_logo__icon">
              <!-- <use href="../images/symbol-defs.svg#icon-sigla_descktop" /> -->
              <use href="/images/symbol-defs.svg#icon-sigla_descktop" />
            </svg>
            <span class="logo-text-2">Filmoteka</span>
          </div>
          <div class="watched-queue-container">
            <button id="watched" class="watched">Watched</button>
            <button id="queue" class="queue">Queue</button>
          </div>
        </div>
      </nav>
      <div class="logo-container">
        <div class="logo-container__item">
          <svg class="header_logo__icon">
            <use href="/images/symbol-defs.svg#icon-sigla_descktop" />
          </svg>
          <span class="logo-text">Filmoteka</span>
        </div>
      </div>
    </div>
    <div id="movie-grid" class="movies-container"></div>
  </section>
</header>

<!-- VARIANTA 1 -->
<!-- <header id="my-library">
  <section class="header-section">
    <div class="header-container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li>
            <a href="index.html">HOME</a>
          </li>
          <li>
            <a href="#my-library" class="active">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
      <div class="watched-queue-container">
        <button class="watched">WATCHED</button>
        <button class="queue">QUEUE</button>
      </div>
      <div class="logo-container">
        <svg class="header_logo__icon">
          <use href="./images/symbol-defs.svg#icon-sigla_descktop" />
        </svg>
        <span class="logo-text">Filmoteka</span>
      </div>
    </div>
  </section>
</header> -->
<!-- <script type="module" src="../js/header.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="module" src="./js/header.js"></script>
<script type="module" src="./js/watched-queue.js"></script>
