<!-- Header Section -->

<header id="home">
  <section class="header-section">
    <div class="header-container">
      <div class="header-navigation">
        <div class="header-nav-wrapper">
          <form class="search-form" id="search-form">
            <input
              class="search-form__input"
              type="text"
              name="searchQuery"
              autocomplete="off"
              placeholder="Movie search"
              id="search-input"
            />

            <button
              class="search-form__button"
              type="submit"
              id="search-button"
            >
              &#128269;
            </button>
          </form>
          <nav class="header-nav">
            <ul class="header-nav__list">
              <li>
                <a href="echipa-2/index.html" class="active">HOME</a>
              </li>
              <li>
                <a href="echipa-2/page-2.html">MY LIBRARY</a>
                <!-- <button type="button">MY LIBRARY</button> -->
              </li>
            </ul>
          </nav>
        </div>
        <button id="theme-toggle" class="theme-toggle">
          <span class="sun-icon">☀️</span>
          <span class="moon-icon">🌙</span>
        </button>
      </div>
      <div id="error-message" class="error-message"></div>

      <div class="loading-header" id="loading-indicator" style="display: none">
        Loading...Please Wait!
      </div>
      <div class="logo-container">
        <a href="#home" class="logo-container__item">
          <svg class="header_logo__icon">
            <!--           <use href="/images/symbol-defs.svg#icon-sigla_descktop" /> -->

            <use href="/images/symbol-defs.svg#icon-sigla_descktop" />
          </svg>
          <span class="logo-text">Filmoteka</span>
        </a>
        <button class="logout-btn" id="logout-btn">Log-out</button>
      </div>
    </div>
    <div id="movie-grid" class="movies-container">
      <button class="watched" style="display: none"></button>
      <button class="queue" style="display: none"></button>
    </div>
  </section>
</header>
<div class="movie-grid" id="movie-grid"></div>
<!-- <script type="module" src="../js/header.js"></script> -->

<script type="module" src="./js/header.js" defer></script>
<script type="module" src="./js/search.js" defer></script>
