<!-- Header Section -->

<header class="header section">
  <div class="header__container">
    <div class="header__navigation">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button type="submit">🔎</button>
      </form>
      <nav class="header__nav">
        <div class="header_butoane">
          <!-- <li> -->
          <!-- <a href="#home" class="active">HOME</a> -->
          <!-- <button type="submit">HOME</button> -->
          <button type="button">HOME</button>
          <!-- </li> -->
          <!-- <li> -->
          <!-- <a href="#my-library">MY LIBRARY</a> -->
          <!-- <button type="submit">MY LIBRARY</button> -->
          <button type="button">MY LIBRARY</button>
          <!-- </li> -->
        </div>
      </nav>
    </div>

    <div class="logo-container">
      <svg class="header_logo__icon">
        <use href="../images/icons.svg#icon-sigla_descktop" />
      </svg>

      <span class="logo-text">Filmoteka</span>
    </div>
  </div>
</header>
