<!-- Header Section page-2-->
<header id="header-section">
  <section class="header-section">
    <div class="header-container" id="my-library">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li>
            <a href="../index.html">HOME</a>
            <!-- <button type="button">HOME</button> -->
          </li>
          <li>
            <a href="../page-2.html" class="active">MY LIBRARY</a>
            <!-- <button type="button">MY LIBRARY</button> -->
          </li>
        </ul>
      </nav>
      <div class="watched-queue-container">
        <button class="watched">WATCHED</button>
        <button class="queue">QUEUE</button>
      </div>
      <div class="logo-container">
        <svg class="header_logo__icon">
          <use href="../images/symbol-defs.svg#icon-sigla_descktop" />
        </svg>
        <span class="logo-text">Filmoteka</span>
      </div>
    </div>
  </section>
</header>
