<!-- Header Section -->

<header id="home">
  <section class="header-section">
    <div class="header-container">
      <div class="header-navigation">
        <form class="search-form" id="search-form">
          <input
            class="search-form__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Movie search"
          />
          <button class="search-form__button" type="submit">&#128269;</button>
        </form>
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li>
              <a href="#home" class="active">HOME</a>
            </li>
            <li>
              <a href="page-2.html">MY LIBRARY</a>

              <!-- <button type="button">MY LIBRARY</button> -->

            </li>
          </ul>
        </nav>
      </div>
      <div class="logo-container">
        <svg class="header_logo__icon">
          <use href="/images/symbol-defs.svg#icon-sigla_descktop" />
        </svg>
        <span class="logo-text">Filmoteka</span>
      </div>
    </div>
  </section>
</header>
<!-- <script type="module" src="../js/header.js"></script> -->
<script type="module" src="./js/header.js"></script>
