<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="team__title">The Debuggers</h1>
    <div class="team__box">
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/team/Beresten.jpg"
            alt="Beresten"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/rebecalasconi"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="../public/github-mark.svg"></use>
          </svg>
        </a>
        <p class="team__name">Rebeca Lasconi</p>
        <p class="team__role">Team Lead</p>
      </div>

      <script type="module" src="./js/modal-team.js"></script>
    </div>
  </div>
</div>
