<!--Modal-movie Section-->
<div id="movieModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-contend__wrapper">
      <div class="wrapper-item">
        <img id="modal-poster" src="" alt="Movie Poster" />
      </div>
      <div class="wrapper-item-2">
        <h2 id="modal-title"></h2>
        <!--Titlu-->
        <h3 id="modal-genres"></h3>
        <!--Genurile-->
        <p id="modal-description"></p>
      </div>
    </div>
  </div>
</div>
