<section class="default-display-section">
  <link rel="stylesheet" href="./css/modal-movie.css" />
  <div class="default-display_gallery" id="default-display_gallery"></div>

  <!-- Modal pentru filme -->
  <div id="movieModal" class="modal is-hidden">
    <div class="modal-content">
      <button class="close" id="close-modal-btn">x</button>
      <div class="modal-contend__wrapper">
        <div class="wrapper-item">
          <img id="modal-poster" src="" alt="Movie Poster" />
        </div>
        <div class="wrapper-item-2">
          <h2 id="modal-title">Movie Title</h2>

          <div class="about-modal">
            <div class="about-modal">
              <p id="modal-rating">
                Rating: <span id="rating-value">7.5</span>
              </p>
              <!-- Afișăm ratingul -->
              <p id="modal-votes">Voturi: <span id="votes-value">1234</span></p>
              <!-- Afișăm numărul de voturi -->
              <p id="modal-popularity">
                Popularitate: <span id="popularity-value">100.0</span>
              </p>
              <!-- Afișăm popularitatea -->
            </div>

            <!-- Afișăm popularitatea -->
          </div>
          <h3 id="modal-genres">Genuri</h3>
          <p id="modal-description"></p>
          <div class="movie-details">
            <div class="modal-buttons">
              <button class="add-to-watched" id="add-to-watched">
                ADD TO WATCHED
              </button>
              <button class="add-to-queue" id="add-to-queue">
                ADD TO QUEUE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-container">
    <div id="pagination" class="pagination"></div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="module" src="js/movies-default-display.js"></script>
<script type="module" src="js/modal-movie.js"></script>
<script type="module" src="js/watched-queue.js"></script>
