.header-section {
  max-width: 1280px;
  height: 316px;
  padding: 32px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1216px;
  height: 316px;
  border-radius: 15px;
  background-image: url('../images/descktop-background-with-red-lines\ 1x.jpg ');
  /* background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%); */
  background-size: cover;

  padding-top: 16px;
  padding-left: 32px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-container {
    background-image: url('../images/descktop-background-with-red-lines\ 2x.jpg');
  }
}

.header-navigation {
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 8px;
}

#search-form {
  max-width: 200px;
  height: 42px;
  border-radius: 100px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  /* color: var(--black); */
  padding: 14px 24px 14px 24px;
  /* margin-top: 16px;
    margin-left: 32px; */
  /* order: 1; */
}

.search-form__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  border-width: 0;
  border-color: var(--white);
  color: var(--black);
}

.search-form__button {
  border-width: 0;
  background-color: var(--white);
  cursor: pointer;
}

.header-nav__list {
  width: 224px;
  height: 42px;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  display: flex;
}

.header-nav__list a {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  list-style: none;
  /* height: 42px; */
  border-radius: 100px;
  background-color: var(--white);
  color: var(--black);
  padding: 14px 24px 14px 24px;
  /* gap: 10px; */
  /* margin-top: 16px; */
  cursor: pointer;
}

.header-nav__list .active {
  background-color: var(--black);
  color: var(--white);
}

.header-nav__list a:hover,
.header-nav__list a:focus {
  background-color: var(--black);
  color: var(--white);
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.logo-text {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
}

.header_logo__icon {
  width: 59px;
  height: 59px;
  fill: var(--white);
  stroke: var(--white);
}

/* Tablet styling */
@media screen and (max-width: 768px) {
  .header-container {
    height: 222px;
    border-radius: 15px;
    background-image: url('../images/tablet-background-with-red-lines\ 1x.jpg');
    padding-left: 16px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-container {
      background-image: url('../images/tablet-background-with-red-lines\ 2x.jpg');
    }
  }
}

/* Mobil styling */
@media screen and (max-width: 320px) {
  .header-container {
    height: 460px;
    border-radius: 10px;
    background-image: url('../images/mobil-background-with-red-lines\ 1x.jpg');

    flex-direction: column;
    justify-content: space-between;
    padding-top: 14px;
    padding-left: 14px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-container {
      background-image: url('../images/mobil-background-with-red-lines\ 2x.jpg');
    }
  }
  .header-navigation {
    flex-wrap: wrap-reverse;
  }

  #search-form {
    width: 252px;
    height: 34px;
    padding: 10px 16px;
  }

  .search-form__input {
    font-size: 12px;
  }
  /* 
    .header-nav__list {
        height: 34px; 
        width: 204px;
        padding: 10px 22px 10px 22px;
    } */

  /* .header-nav__list a {
        padding: 10px 22px 10px 22px;
    } */

  .logo-text {
    font-size: 32px;
  }
  .header_logo__icon {
    width: 32px;
    height: 32px;
  }
}
