.header-section {
    max-width: 1280px;
    height: 316px;
    padding: 32px;
    margin: 0 auto;
}

.header-container {
    max-width: 1216px;
    height: 316px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background-image: url('../images/descktop-background-with-red-lines\ 1x.jpg');
    /* background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .header-container {
        background-image: url('../images/descktop-background-with-red-lines\ 2x.jpg');
    }
}

.header-navigation {
    display: flex;
    gap: 8px;
    margin-left: 32px;

}

.header-nav__list {
    max-width: 224px;
    height: 42px;
    text-decoration: none;
    list-style: none;
    gap: 8px;
    opacity: 0px;
    display: flex;
}

.header-nav__list a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    list-style: none;
    /* height: 42px; */
    border-radius: 100px;
    background-color: var(--white);
    color: var(--black);
    padding: 14px 24px 14px 24px;
    /* gap: 10px; */
    margin-top: 16px;
    cursor: pointer;

}

.header-nav__list .active {
    background-color: var(--black);
    color: var(--white);
    
}

.header-nav__list a:hover,
.header-nav__list a:focus {
    background-color: var(--black);
    color: var(--white);
}

.watched-queue-container {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 16px;
    right: 32px;
}

.watched {
    background-color: var(--red-color);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    width: 120px;
    height: 42px;
    padding: 14px 32px 14px 32px;
    border-radius: 100px;
    margin-right: 8px;
    border-style: none;
}


.queue {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    color: var(--white);
    background-color: var(--red-color);
    box-shadow: 0px 0px 7px 0px #1B1B1B26;
    width: 86px;
    height: 42px;
    padding: 14px 24px 14px 24px;
    gap: 10px;
    border-radius: 100px;
    border-style: hidden;
}

.watched:hover,
.queue:hover {
    background-color:var(--white);
    color: var(--red-color)
}


.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 32px;
    margin-bottom: 32px;

}

.logo-text {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    text-align: center;
}

.header_logo__icon {
    width: 59px;
    height: 59px;
    fill: var(--white);
    stroke: var(--white);

}

.logo-container svg {
    width: 59px;
    height: 59px;
    fill: var(--white);
    stroke: var(--white);
}