/* general styling - ar trebui mutat in Styles.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--primary-font);
    background-color: var(--white);

}

:root {
    --white: #FFFFFF;
    --black: #111111;
    --primary-font: 'Roboto', sans-serif;

}

/* styling specific header home */


.header-section {
    width: 1280px;
    height: 316px;
    padding: 32px;
}

.header-container {
    width: 1216px;
    height: 316px;
    /* gap: 0px; */
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background-image: url('../images/descktop-background-with-red-lines\ 1x\(1\)\ \(1\).jpg');
    /* background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%); */
    background-size: cover;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    margin-bottom: 32px;
}

.header-navigation {
    max-width: 1280px;
    width:100%;
    display: flex;
    gap: 8px;

}

#search-form {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    border-width: 0;
    border-color: var(--white);
    width: 200px;
    height: 42px;
    border-radius: 100px;
    background-color: var(--white);
    color: var(--black);
    padding: 14px 24px 14px 24px;
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: flex-start;
    

}

#search-form input {
    border-width: 0;
    /* background-color: var(--white); */
}

#search-form button{
    border-width: 0;
    background-color: var(--white);
}

.header-nav__list {
    width: 224px;
    height: 42px;
    text-decoration: none;
    list-style: none;
    gap: 8px;
    opacity: 0px;
    display: flex;
    /* align-items: center;
    justify-content:space-between; */
    

}
.header-nav__list a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    list-style: none;
    /* height: 42px; */
    border-radius: 100px;
    background-color: var(--white);
    color: var(--black);
    padding: 14px 24px 14px 24px;
    /* gap: 10px; */
    margin-top: 16px;


}

/* .logo-container svg {
    width: 21px;
    height: 21px;
    fill: var(--black);
    stroke: var(--black);
} */