.header-section {
  max-width: 1280px;
  min-height: 316px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1216px;
  min-height: 316px;
  border-radius: 15px;
  background-image: url('/images/desktop/background-red-1x.jpg');
  /* background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%); */
  background-size: cover;
  /* background-position: center; */
  margin: 32px;
  transition: background-image 1s ease-in-out;
}

/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-container {
    background-image: url('/images/desktop/background-red-2x.jpg');
  }
} */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  margin-left: 32px;
}

#search-form {
  max-width: 200px;
  height: 42px;
  border-radius: 100px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  color: var(--black);
  padding: 14px 24px 14px 24px;
  /* order: 1; */
}

.search-form__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  border-width: 0;
  border-color: var(--white);
  color: var(--black);
}

.search-form__button {
  border-width: 0;
  background-color: var(--white);
  cursor: pointer;
}

.header-nav__list {
  max-width: 224px;
  height: 42px;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  display: flex;
}

.header-nav__list a {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  list-style: none;
  height: 42px;
  border-radius: 100px;
  background-color: var(--white);
  color: var(--black);
  padding: 14px 24px 14px 24px;
  /* gap: 10px; */
  /* margin-top: 16px; */
  cursor: pointer;
}

.header-nav__list .active {
  background-color: var(--black);
  color: var(--white);
}

.header-nav__list a:hover,
.header-nav__list a:focus {
  background-color: var(--black);
  color: var(--white);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.logo-text {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
}
.logout-btn {
  padding: 10px 20px;
  background-color: rgba(136, 135, 135, 0.64);
  border-radius: 50px;
  border: none;
  margin-right: 50px;
  margin-top: 50px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efect de tranziție */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Umbră ușoară */
}

/* Efect la hover */
.logout-btn:hover {
  background-color: red; /* Schimbare de culoare la hover */
  transform: translateY(-5px); /* Efect de ridicare la hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px white; /* Umbră mai pronunțată la hover */
}

.header_logo__icon {
  width: 59px;
  height: 59px;
  fill: var(--white);
  stroke: var(--white);
}
#movie-grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  gap: 17px;
  justify-content: center;
}
.movie-card {
  width: 394px;
}
.movie-card h3,
.movie-card p {
  font-family: roboto;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

/* Tablet styling */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-container {
    min-height: 222px;
    /* background-image: url('/images/desktop/background-red-1x.jpg'); */
  }
  #movie-grid {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 767px;
    gap: 17px;
    justify-content: center;
  }
  .movie-card {
    max-width: 394px;
  }
  /*   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-container {
      background-image: url('/images/desktop/background-red-2x.jpg');
    }
  } */

  .header-navigation {
    margin-left: 16px;
  }

  .header-nav__list {
    gap: 4px;
  }

  .header-nav__list a {
    height: 38px;
    padding: 12px 20px 12px 20px;
  }

  #search-form {
    height: 38px;
    padding: 10px 16px;
  }

  .logo-container {
    gap: 7px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .logo-text {
    font-size: 40px;
  }
  .header_logo__icon {
    width: 40px;
    height: 40px;
  }
}

/* Mobil styling */
@media screen and (max-width: 479px) {
  .header-container {
    min-height: 460px;
    border-radius: 10px;
    /* background-image: url('/images/mobile/bgd-mobil-red-1x.jpg'); */

    flex-direction: column;
    justify-content: space-between;
  }

  /*   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-container {
      background-image: url('/images/mobile/bgd-mobil-red-2x.jpg');
    }
  } */
  .header-navigation {
    flex-wrap: wrap-reverse;
    margin-top: 14px;
    margin-left: 14px;
  }
  .header-nav__list {
    gap: 4px;
  }
  .header-nav__list a {
    height: 34px;
    padding: 8px 18px 8px 18px;
  }

  #search-form {
    max-width: 252px;
    width: 95%;
    height: 34px;
    padding: 10px 16px;
    /* order: 1; */
  }

  .search-form__input {
    font-size: 12px;
    max-width: 252px;
  }

  .logo-container {
    gap: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .logo-text {
    font-size: 32px;
  }
  .header_logo__icon {
    width: 32px;
    height: 32px;
  }
}
