:root {
  color-scheme: light dark;
}
body {
  height: 100vh;
  background-image: url('/images/desktop/login-bg.jpg');
  background-size: cover;
  background-position: top;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px;
}

/* Efect de fade in și fade out */
.form-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.form-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s;
}

.login-form {
  min-height: 520px;
  border-radius: 50px;
  max-width: 700px;
  width: 100%;
  background-color: rgba(136, 135, 135, 0.14);
  backdrop-filter: blur(10px);
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 8%;
  gap: 30px;
  align-items: center;
}

.register-form {
  background-color: rgba(136, 135, 135, 0.64);
  border-radius: 50px;
  max-width: 400px;
  padding: 100px;
  margin-top: 60px;
}

.register-form h3 {
  display: flex;
  justify-content: flex-start;
}

.register-form label {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.go a,
.fb a {
  cursor: pointer;
}
.register-form input {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
}

form * {
  color: white;
  outline: none;
  border: none;
}

.login-form h3 {
  font-size: 44px;
  display: flex;
  justify-content: center;
}

.register-form label,
.login-form label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.login-form input {
  width: 90%;
  padding: 5px 30px;
  border-radius: 5px;
}

.login-btn {
  padding: 10px 100px;
  background-color: #0b5c9b;
  border-radius: 50px;
  cursor: pointer;
}

/* Style pentru loader */
#loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  display: none; /* Inițial ascuns */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .container-login {
    max-width: 768px;
    margin: 0 auto;
  }
  .login-form {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 8%;
    right: 0%;
    padding: 0;
    left: 1%;
  }

  .login-form input {
    max-width: 500px;

    border-radius: 5px;
  }
  .register-form {
    position: absolute;

    max-width: 300px;
    padding: 40px;
  }
  .register-form input {
    max-width: 340px;
    padding: 6px;
  }
}
