.default-display-section {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.default-display_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  min-width: 768px;
}

.hidden {
  display: none;
}

.galleryContainer_image {

  max-width: 394px;
  width: 100%;
  height: 574px;
  border-radius: 5px;
}

.galleryContainer_card {

  max-width: 394px;
  width: 100%;
  height: 634px;
  transition: transform 0.3s ease;
}

.gallery-card-modal:hover {
    transform: scale(1.03);
    position: relative;
    background: linear-gradient(0deg, );
  }
  
  .gallery-card-modal:hover:before, .gallery-card-modal:hover:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb009243, #0000ff57, #00ff0062,#ffff004a, #ff00003e, #fb009246, 
      #0000ff4f, #00ff004a,#ffff0055, #ff000054);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 24px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .gallery-card-modal:hover:after {
    filter: blur(50px);
  }

.galleryContainer_title {
  font-family: roboto;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.galleryContainer_subtitle {
  color: #b92f2c;
  font-size: 12px;
  line-height: 16px;
  font-weight: 550;
}

.pagination-container {
  text-align: center;
}

.pagination {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 450px;
  scale: 120%;
}

#pagination {
  margin: 60px auto;
  justify-content: center;
  scale: 140%;
}

.pagination a {
  color: #42a5b7;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 1px;
  text-decoration: none;
  font-size: 12px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #b92f2c;
  color: #ffffff;
}

.pagination .arrow {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  color: #000000;
  background-color: #f7f7f7;
}

.content {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}


@media screen and (max-width: 1280px) {

  .galleryContainer_image{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 15px;
}

.galleryContainer_image:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
  .default-display-section {
    max-width: 704px;
    
  }
  
  .default-display_gallery {
    min-width: 704px;
    margin: 0 auto;
    gap: 32px;
  }

  .galleryContainer_image {
    max-width: 336px;
    width: 100%;
    height: 455px;
  }

  .galleryContainer_card {
    max-width: 336px;
    width: 100%;
    height: 495px;
  }

}

@media screen and (max-width: 767px) {
  .default-display-section {
    max-width: 320px;
    
  }
  
  .default-display_gallery {
    min-width: 280px;
    margin: 0 auto;
    justify-content: center;
    gap: 32px;
  }

  .galleryContainer_image {
    max-width: 280px;
    width: 100%;
    height: 402px;
  }

  .galleryContainer_card {
    max-width: 280px;
    width: 100%;
    height: 443px;
  }
  #pagination {
    flex-wrap: wrap;
    scale: 90%;
  }
}
