.default-display-section {
  max-width: 320px;
  width: 100%;
  margin: 20px auto;
  gap: 10px;
  max-width: 1280px;
}

.gallery {
  display: flex;
  gap: 10px;
}

.galleryContainer_image {
  max-width: 280px;
  width: 100%;
  height: 398px;
  border-radius: 5px;
}

.galleryContainer_card {
  max-width: 280px;
  width: 100%;
  height: 440px;
  margin: 20px;
}

.galleryContainer_title {
  font-family: roboto;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.galleryContainer_subtitle {
  color: #b92f2c;
  font-size: 12px;
  line-height: 16px;
  font-weight: 550;
  margin: 0;
}

.pagination-container {
  text-align: center;
}

.pagination {
  padding: 16px;
  max-width: 374px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 374px;
}

.pagination a {
  color: #000000;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 1px;
  text-decoration: none;
  font-size: 12px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #b92f2c;
  color: #ffffff;
}

.pagination .arrow {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  color: #000000;
  background-color: #f7f7f7;
}

.content {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .default-display-section {
    max-width: 768px;
    width: 100%;

    margin: 32px auto;
  }

  .galleryContainer_image {
    max-width: 336px;
    width: 100%;
    height: 455px;
  }

  .galleryContainer_card {
    max-width: 336px;
    width: 100%;
    height: 495px;
    margin: 0;
    padding: 0;
  }

  .default-display_gallery {
    flex-wrap: wrap;
    display: flex;
    gap: 32px;
    margin: 0;
  }

  #pagination {
    margin: 60px auto;
    flex-wrap: nowrap;
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .default-display-section {
    margin-top: 32px;
    max-width: 1217px;
    width: 100%;

    margin: 32px auto;
  }
  .about-modal p {
    margin-right: 60px;
  }
  .span {
    margin-left: 60px;
  }

  .galleryContainer_image {
    max-width: 394px;
    width: 100%;
    height: 574px;
    box-shadow: 0 0 12px 2px rgb(73, 45, 10);
  }

  .galleryContainer_card {
    max-width: 394px;
    height: 634px;
    margin: 0;
  }

  .default-display_gallery {
    flex-wrap: wrap;
    display: flex;
    gap: 17px;
  }

  #pagination {
    margin: 60px auto;
  }
}
