*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--primary-font);
    background-color: var(--white);

}

:root {
    --white: #FFFFFF;
    --black: #111111;
    --red-color: #B92F2C;
    --primary-font: 'Roboto', sans-serif;

}