body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.header-section {
  background-color: #f5f5f5;
}

.theme-container label svg.sun {
  fill: #ffcc00;
}

.theme-container label svg.moon {
  fill: #555;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #242424;
  color: #e0e0e0;
}

body.dark-mode .header-section {
  background-color: #333;
}

body.dark-mode .theme-container label svg.sun {
  fill: #555;
}

.header-container {
  background-color: #242424;
}

body.dark-mode .theme-container label svg.moon {
  fill: #ffcc00;
}